
<div >

      <form (ngSubmit)='submitQuote()' #quoteForm='ngForm' class="was-validated">
          <div class="willy ">

              <label for="author">Author</label>
              <input type="text" class="form-control" id="author" [(ngModel)]="newQuote.author" name="author" #author="ngModel" required>

          </div>
          <div class="willy ">

              <label for="thief">Published by:</label>
              <input type="text" class="form-control" id="description" [(ngModel)]="newQuote.description" name="description" #thief="ngModel" required>

          </div>

          <div class="willy ">

              <label for="quote">Quote</label>
              <textarea class="form-control" id="quote" rows="4" [(ngModel)]="newQuote.quote" name="quote" #quote="ngModel" required></textarea>


          </div>

          <button type="submit" class="btn btn-primary btn-info btn-bloc" bind-disabled="!quoteForm.form.valid"> Add Quote </button>
      </form>


</div>
